
body{
    background-color: rgba(0,0,0,0.7);
}

.hideContent{
    height:100vh;
    width:100vw;
    filter: blur(10px);
    z-index: 10;
    position: fixed; 
    top:10%;
    left:30%;
    margin-left: 1rem;
}


div{
    width: 22%;
    height: 90%;
    opacity: .9;
}

#hiddenSidebar{
    margin-left: -200%;
}
@keyframes hidesidebar {
    from{
        margin-left: 1rem;
    }
    to{
        margin-left: -100%;
    }
}

#hideSidebar{
    animation-name: hidesidebar;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    background-color: bisque;
    height: 100vh;
    width:30%;
    position: fixed;
    margin-top:1rem;
    margin-left: 0px;
    top:0px;
    left:0px;
    opacity:1;
    z-index: 1;
    border-radius: 1rem;
}
.menu-items{
    opacity: 1;
    height:80%;
    width: 100%;

}
.menu{
    display:flex;
    justify-content: space-between;
    position: relative;
    top:1rem;
    height:20%;
    width:100%;
    align-items: flex-start;
}

.menutxt{
    font-size: larger;
}

.options{
    margin-top: 10%;
    width: 100%;
    overflow-y: auto;
}

.options ul{
    list-style-type: none;
    width: 100%;
    height:50%;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
 .options li{
    height:15%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




#navbar{
    background-color:blueviolet;
    width: 100vw;
    height:10%;
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    z-index: 4;
}
.icon i{
    scale:2;
    padding:0 2rem;
    transition: .3s;
}
.icon i:hover{
    scale:2.3;
    transition: .1s;
    transition-timing-function: ease;
}

.company{
    width:50%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.login{
    
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-right: 2rem;
}







#content{
    background-color: chocolate;
    width:15%;
    position: fixed;
    top: 11%;
    right:0;
}
#mainContent{
    background-color: darkkhaki;
    height: 100vh;
    width: 65%;
    position: fixed;
    top:11%;
    left:20%;
}